# URL base da API
REACT_APP_API_BASE_URL=https://webhook.ecoplus-apps.com/webhook

# Credenciais Basic Auth
REACT_APP_API_USER=eco_user
REACT_APP_API_PASS=enemy-banana-ahead

# Chave de API
REACT_APP_API_KEY=
